{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">Главная</h1>
<p class="text-center"> Вы находитесь на сайте для продажи товаров </p>
<div class="row row-cols-2 row-cols-md-2 g-4">
  {% for product in products %}
  <div class="col">
    <div class="card">
      <img src = {{product.image}} class="card-img-top" alt="product.name">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.description|truncatechars:100|default:"Описание отсутствует"}}</p>
        <a href="product_info/{{product.id}}" class="btn btn-primary">Полная информация</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
