{% extends 'base.html' %}
{% load my_tags %}
{% block title %} Форма публикации {% endblock %}
{% block content %}
{% include 'header.html' %}
<div class="container text-bg-primary mb-3" data-bs-theme="blue">
  <h1 class="mb-4">Форма</h1>
  <form method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit " class="btn btn-success">Сохранить</button>
    <a href="{% url 'catalog:home' %}" class="btn btn-secondary">Отмена</a>
  </form>
</div>
{% endblock %}