{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<h1 class="text-center">Подробная информация</h1>
<p class="text-center"> Вы находитесь на сайте для продажи товаров </p>
<div class="col">
  <div class="card text-center mb-3">
    <div class="card-header">{{product.name}}</div>
    <p>Владелец: {{ product.owner.username }}</p>
    <p>Статус: {{ product.get_status_display }}</p>
    <div class="card-body">
      <img src = "{{product.image | media_filter }}">
      <h5 class="card-title">{{product.price}}</h5>
      <p class="card-text">{{product.description}}</p>
      <p class="card-text">Дата создания {{product.created_at}}</p>
      <p class="card-text">Дата последнего изменения {{product.updated_at}}</p>
      <a href="#" class="btn btn-primary">Добавить в корзину</a>
      {% if perm.catalog.can_unpublish_product and product.status != 'draft' %}
      <form method="post" action="{% url 'catalog:product_unpublish' product.pk %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning">Снять с публикации</button>
      </form>
      {% if perms.catalog.can_delete_any_product or user == product.owner %}
                <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-danger">Удалить</a>
            {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
