{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">Подробная информация</h1>
<p class="text-center"> Вы находитесь на сайте для продажи товаров </p>
<div class="col">
  <div class="card text-center mb-3">
    <div class="card-header">{{product.name}}</div>
    <div class="card-body">
      <img src="{{product.name}}" class="card-img-top" alt="т">
      <h5 class="card-title">{{product.price}}</h5>
      <p class="card-text">{{product.description}}</p>
      <a href="#" class="btn btn-primary">Добавить в корзину</a>
    </div>
  </div>
</div>
{% endblock %}
